img {
  width: 70px;
  height: 70px;
}
.table {
  width: 700px;
}
button {
  border: none;
  outline: none;
}
.form-info {
  display: block;
}
.form-info input {
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #eee;
  height: 50px;
  border-radius: 20px;
}
