.header {
}
.header_main {
  display: flex;
}
.header .header_logo,
.header .nav_link {
  display: block;
  color: red;
  text-decoration: none;
}
.header .nav_menu {
  display: flex;
}
.header .nav_item {
  list-style-type: none;
}
